[Unit]
Description=Copy homelab application backup to this laptop

[Service]
Type=oneshot
ExecStart=/bin/bash %h/Documents/config/scripts/pull-homelab-backup.sh
Nice=10
IOSchedulingClass=idle
UMask=0077
