[Unit]
Description=Hyprland Session Target
Documentation=man:systemd.special(7)
Requires=graphical-session.target
After=graphical-session.target
StopWhenUnneeded=yes
